:root {
  /* colors */
  --primary-color: rgba(15, 71, 98, 1);
  --secondary-color: rgba(7, 59, 77, 1);
  --tertiary-color: rgba(7, 214, 160, 1);
  --quaternary-color: rgba(246, 248, 250, 1);
  --penta-color: rgba(255, 255, 255, 1);
  --hexa-color: rgba(251, 188, 4, 1);
  --hepta-color: rgba(163, 198, 255, 1);
  --octa-color:rgba(9, 60, 78, 1);
  

  /* font-size */
  --primary-font: 48px;
  --secondary-font: 32px;
  --tertiary-font: 24px;
  --quaternary-font: 20px;
  --hexa-font:18px;
  --penta-font: 16px;

  /* font weight */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --light:300

  /* font family Montserrat */
  --primary-font-family: "Montserrat", sans-serif;
  /* font family Comfortaa */
  --secondary-font-family: "Comfortaa";

  /* border-radius */
  --primary-border-radius: 10px 10px 0px 0px;
  --secondary-border-radius:0px 0px 10px 10px;

  /* line height */
  --primary-line-height: 56.16px;
  --secondary-line-height:28.64px;
}


/* headings */
.primary-heading {
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 48px */
  font-size: var(--primary-font);
  font-weight: var(--bold);
  line-height: var(--primary-line-height);
  font-family: var(--primary-font-family);
}
.secondary-heading {
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 32px */
  font-size: var(--secondary-font);
  font-weight: var(--bold);
  font-family: var(--primary-font-family);
}
.tertiary-heading {
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 24px */
  font-size: var(--tertiary-font);
  font-weight: var(--bold);
  font-family: var(--primary-font-family);
}
.quaternary-heading {
  /* rgba(255, 255, 255, 1 */
  color: var(--penta-color);
  /* 24px */
  font-size: var(--tertiary-font);
  font-weight: var(--bold);
  font-family: var(--secondary-font-family);
}
.penta-heading{
  /* 24px */
  font-size: var(--tertiary-font);
  /* rgba(9, 60, 78, 1) */
  color: var(--octa-color);
  font-weight: var(--bold);
  font-family: var(--primary-font-family);
}


/* paragraphs */
.primary-para {
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 20px */
  font-size: var(--quaternary-font);
  font-weight: var(--semi-bold);
  font-family: var(--secondary-font-family);
  line-height: var(--secondary-line-height);
}
.secondary-para {
  /* rgba(7, 59, 77, 1) */
  color: var(--secondary-color);
  /* 16 px */
  font-size: var(--penta-font);
  font-weight: var(--medium);
  font-family: var(--secondary-font-family);
}
.tertiary-para {
  /* rgba(255, 255, 255, 1 */
  color: var(--penta-color);
  /* 18px */
  font-size: var(--hexa-font);
  font-weight: var(--light);
  font-family: var(--secondary-font-family);
}
.penta-para{
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 16px */
  font-size: var(--penta-font);
  font-weight: var(--bold);
  font-family: var(--secondary-font-family);
}
.hexa-para{
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 16px */
  font-size: var(--penta-font);
  font-weight: var(--semi-bold);
  font-family: var(--secondary-font-family);
  line-height: var(--secondary-line-height);
}
.hepta-para{
  /* rgba(15, 71, 98, 1) */
  color: var(--primary-color);
  /* 16px */
  font-size: var(--penta-font);
  font-weight: var(--medium);
  font-family: var(--secondary-font-family);
  line-height: var(--secondary-line-height);
}
.btn-para{
  font-weight: var(--bold);
  font-family: var(--secondary-font-family);
  /* 20px */
  font-size: var(--quaternary-font);
  /* rgba(7, 214, 160, 1) */
  color: var(--tertiary-color);
}
.cardBgClr{
  /* rgba(246, 248, 250, 1) */
  background-color: var(--quaternary-color);
}

.border-radius-primary{
  border-radius: var(--primary-border-radius);
}
.border-radius-secondary{
  border-radius: var(--secondary-border-radius);
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    
}
.page-width{
    width: 90%;
    max-width: 1480px;
    margin: auto;
}